VITE_SUPABASE_URL=https://jnvcfhqfzbciiitxarft.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpudmNmaHFmemJjaWlpdHhhcmZ0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjMwMjMzMzYsImV4cCI6MjA3ODU5OTMzNn0.kaALb2MwnZ-1N4yekwg0GI76om7XZk0jqO3Q8fvxsFk

